* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #fff;
    color: #000;
}

body #wrapper {
    min-height: 100vh;
    max-width: 720px;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

body #wrapper .header {
    padding-top: 50px;
    padding-right: 12px;
    padding-bottom: 24px;
    padding-left: 12px;
}

body #wrapper .header .logo {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}

body #wrapper li a {
    display: block;
    border: 2px solid rgb(51, 102, 255);
    color: #fff;
    background-color: rgb(51, 102, 255);
    padding: 18px 57px;
    transition: 0.3s;
}

body #wrapper li a:hover {
    display: block;
    border: 2px solid rgb(51, 102, 255);
    color: rgb(51, 102, 255);
    background-color: #fff;
    padding: 18px 57px;
    transition: 0.3s;
}

body #wrapper li {
    margin: .9rem;
}

body #wrapper .spacer {
    display: block;
    padding: 1.5rem 0;
}

body #wrapper .footer {
    margin-bottom: 1rem;
}

body #wrapper .footer .footer-img {
    width: 128px;
    height: auto;
}